.full_button .dropdown-menu {
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-top: 5px;
}

.multiselect-container .input-group {
    margin: 5px;
}

.input-group button {
	margin-bottom: 0; 
}

.item-desc ul {
	list-style: none;
}

.item-desc ul li{
	font-size: 18px;
}

.right {
    text-align: right;
}